#BOSH ignores
config/dev.yml
config/private.yml
config/settings.yml
releases/*.tgz
dev_releases
blobs/*
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
tmp
my*.yml

#Ignore emacs jazz
.#*
#*

**/*.tgz
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

#vim temp files
*.swp

# YARD artifacts
.yardoc
_yardoc
doc/

#This should be downloaded / linked
src/logsearch-config/vendor/logstash*

#logsearch-workspace artifact
.bosh_config

#VIM artifacts
*.swp
