---
bosh-lite-deployment:
bosh-lite-password:
bosh-lite-target:
bosh-lite-username:
cf-admin:
cf-api:
cf-apps-domain:
cf-doppler:
cf-password:
s3-access-key-id:
s3-bucket:
s3-endpoint:
s3-region-name:
s3-secret-access-key:
slack-channel:
slack-image:
slack-text:
slack-username:
slack-webhook:
git-username:
git-email:
git-target:
git-private-key:
